<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend> Skills</legend>

<!--Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">ADD</button>
  </div>
</div>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="skills">
    Skills
  </label>
  <div class="controls">
    <input  type="text" placeholder="Enter Skills" class="input-xlarge" type="text">

  </div>
</div>








<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
<a routerLink="/Education">
  Next Page
 </a>
 <a routerLink="/">
  Back Page
 </a>
	</div>
</div>






<!-- <button class="btn btn-primary">+</button>
            
            <div class="row">
              <div class="col-md-4" >
                <div class="form-group">
                  <input type="text" class="form-control"
                    placeholder="e.g. Java / Angular / .Net "  required
                    >
                </div>
              </div>
              <a routerLink="/Experience">
                Next Page
               </a>
            </div>
           -->
