
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Other Details</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="full_name">Achievements</label>
  <div class="controls">
    <input id="full_name" name="full_name" placeholder="Enter your Achievements" class="input-xlarge" type="text">
      </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lang">Known Languages</label>
  <div class="controls">                     
    <textarea id="lang" name="lang"placeholder="Enter your knwon languages"></textarea>
  </div>
</div>





<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
<a routerLink="/template1">
  Next Page
 </a>
	</div>
</div>






