<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Work Experience</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="full_name">Job <Title></Title></label>
  <div class="controls">
    <input id="job" placeholder="Enter your Job Title" class="input-xlarge" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Organization Name</label>
  <div class="controls">
    <input id="organisation"  placeholder="Enter Your Organisation name" class="input-xlarge" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="ex-year">Experience in Year</label>
  <div class="controls">
    <input id="exp-year"  placeholder="Enter Your Experience in Year" class="input-xlarge" type="text">
    
  </div>
</div>



<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="Description">Job Description</label>
  <div class="controls">                     
    <textarea id="Address" name="Description">Description</textarea>
  </div>
</div>



<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Save & Continue</button>
  </div>
</div>

</fieldset>
</form>
<a routerLink="/OtherDetails">
  Next Page
 </a>
 <br>
 <a routerLink="/Education">
  Back Page
 </a>
	</div>
</div>






<!-- <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
  <div class="navbar-brand mb-0 h1 text-white">ONLINE RESUME BUILDER</div>
</nav>
<div class="container-fluid">
  <form >
    <div class="row">
      <div class="col-md-8">
        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                account_circle
              </i>
              Personal Details</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"  name="name" placeholder="Name"
                     required
                    >
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <textarea class="form-control"  name="address" rows="3"
                      placeholder="Address"  required
                      ></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control"  name="contactNo"
                    placeholder="Contact No."  required
                    >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="emailId"
                    placeholder="Email ID"  required
                    >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"  name="socialProfile"
                    placeholder="Social Profile ">
                </div>
                <a routerLink="/Skills">
                 Next Page
                </a>
              </div>
            </div>
          </div>
        </div>
         -->






<!-- <div class="shadow-sm card">
    <div class="card-body">
      <div class="d-flex justify-content-between card-title">
        <h4 class="d-flex align-items-center">
          <i class="material-icons">
            timeline
          </i>
          Experience</h4>
        <button class="btn btn-primary" >+</button>
      </div>
      <div class="row" >
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="Employer"  required
              >
          </div>
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control"  rows="3"
                placeholder="Job Description"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" 
              placeholder="Job Title"  required
              >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Experience in months"  required
              >
          </div>
          <a routerLink="/Education">
            Next Page
           </a>
        </div>
      </div>
    </div>
  </div> -->
